<template>
  <footer id="footer" class="home">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-2-24" />
      <div class="pure-u-1 pure-u-md-20-24">
        <div class="footer-container test">
          <div class="footer-logo">
            <nuxt-link to="/">
              <img src="@/static/images/logo.svg" alt="footer logo" />
            </nuxt-link>
          </div>
          <div class="newsletter"></div>
          <div class="links"></div>
          <div class="social-links">
            <ul class="site"></ul>
          </div>
          <div class="company"></div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-2-24" />
    </div>
    <div class="pure-g footer-bg">
      <div class="pure-u-1 pure-u-md-1-24" />
      <div class="pure-u-1 pure-u-md-11-24"></div>
      <div class="pure-u-1 pure-u-md-11-24"></div>
      <div class="pure-u-1 pure-u-md-1-24" />
    </div>
  </footer>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      success: false,
      input: {
        email: ''
      }
    }
  },
  computed: {
    links() {
      return this.$store.state.common.links
    },
    social_link() {
      return this.$store.state.commonOptions.social_link
    },
    commonData() {
      return this.$store.state.commonOptions.others_setting
    },
    contact_setting() {
      return this.$store.state.commonOptions.contact_setting
    },
    general_setting() {
      return this.$store.state.commonOptions.general_setting
    },
    general_footer1() {
      return this.$store.staqate.footer1.items
    },
    general_footer2() {
      return this.$store.state.footer2.items
    }
  },
  methods: {
    async onSubmit() {
      try {
        const isValid = await this.$refs.newsletter.validate()
        if (!isValid) {
          return
        }
        const response = await this.$axios.post(
          '/wp-json/custom/v2/subscribeform',
          {
            ...this.input
          }
        )
        if (response.status === 200) {
          this.input = {
            email: ''
          }
          this.$refs.newsletter.reset()

          this.success = true
          setTimeout(() => {
            this.success = false
          }, 3000)
        }
      } catch (e) {
        // console.log(e)
      }
    }
  }
}
</script>

<style>
footer#footer {
  margin-top: 30px;
}
</style>
