<template>
  <div>
    <header
      id="header"
      ref="header"
      :class="{ sticky: sticky, 'hide-red-band': hideTopBand }"
    >
      <div class="header-container">
        <div class="header-logo">
          <nuxt-link to="/">
            <img src="@/static/images/logo.svg" alt="RIO" />
          </nuxt-link>
        </div>
      </div>
      <div class="menu-s">
        <ul class="navigation">
          <li v-for="menu in menuItems" :key="menu.id">
            <nuxt-link :to="`${menu.to}`">
              {{ menu.title }}
            </nuxt-link>
          </li>
          <!-- <li v-if="$auth.loggedIn">
            <a href="#" @click="$auth.logout()"> logoout</a>
          </li>
          <li v-else>
            <nuxt-link to="login">Login</nuxt-link>
            <nuxt-link to="registration">Registration</nuxt-link>
          </li> -->
          <li v-if="currentUser.display_name">
            {{ currentUser.display_name }}
            <a href="javascript:void(0);" @click="logoutUser()"> logoout</a>
          </li>
          <li v-else>
            <nuxt-link to="login">Login</nuxt-link>
            <nuxt-link to="registration">Registration</nuxt-link>
          </li>
        </ul>
      </div>
    </header>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex'

const Cookie = process.client ? require('js-cookie') : undefined
export default {
  components: {},
  props: {
    sticky: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      burgerMenuClass: [],
      hideTopBand: true,
      videoClasses: [],
      videoId: 'R0_zEOLa980'
    }
  },
  computed: {
    ...mapGetters({
      menuItems: 'menuItems'
    }),
    ...mapState(['currentUser'])
  },
  watch: {
    $route() {
      this.burgerMenuClass = []
    }
  },
  methods: {
    // logout() {
    //   Cookie.remove('auth')
    //   this.$store.commit('setAuth', null)
    // },
    logoutUser() {
      this.$store.dispatch('logoutUser')
    },
    toggleBurger() {
      if (this.burgerMenuClass.includes('active')) {
        this.burgerMenuClass = []
      } else {
        this.burgerMenuClass.push('active')
      }
    },
    openModal() {
      if (process.browser) {
        window.dispatchEvent(
          new CustomEvent('openModal', {
            detail: {
              videoId: 'R0_zEOLa980'
            }
          })
        )
      }
    },
    closeTopBand() {
      this.hideTopBand = true
    }
  }
}
</script>
<style>
.menu-s {
  display: inline-block;
}
.header-container {
  display: inline-block;
}
.navigation li {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}
header#header {
  margin-bottom: 30px;
}
</style>
