<template>
  <div>
    <siteheader />
    <nuxt />
    <sitefooter />
  </div>
</template>

<script>
import siteheader from '@/components/header'
import sitefooter from '@/components/footer'
export default {
  components: {
    siteheader,
    sitefooter
  },
  data() {
    return {
      stickHeader: false,
      videoClasses: [],
      videoId: 'R0_zEOLa980'
    }
  },

  computed: {
    stickyHeader() {
      return this.stickHeader
    },
    player() {
      return this.$refs.youtube.player
    }
  },
  mounted() {
    this.$store.dispatch('loadCurrentUser')
    if (process.browser) {
      // if (window.innerWidth > 450) {
      window.addEventListener('scroll', (e) => {
        if (this.$refs.body) {
          const { y } = this.$refs.body.getClientRects()[0]
          if (Math.abs(y) > 0) {
            this.stickHeader = true
          } else {
            this.stickHeader = false
          }
        }
      })
      // }
      window.addEventListener('openModal', (e) => {
        if (e.detail && e.detail.videoId) {
          this.openModal(e.detail.videoId)
        } else {
          this.openModal()
        }
      })
    }
  },
  beforeDestroy() {
    if (process.browser) {
      if (window.innerWidth > 450) {
        window.removeEventListener('scroll', (e) => {})
      }
      window.removeEventListener('openModal', (e) => {})
    }
  },
  methods: {
    openModal(videoId = 'R0_zEOLa980', $event) {
      this.videoId = videoId
      // this.$refs.modalVideo.src = 'https://www.sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4'
      if (!this.videoClasses.includes('active')) {
        this.videoClasses.push('active')
        setTimeout(() => {
          this.videoClasses.push('show')
          this.player.playVideo()
          // this.$refs.modalV//ideo.play()
        }, 100)
      }
    },
    closeModal(videoId, $event) {
      // if (this.$refs.modalVideo) {
      //   this.$refs.modalVideo.pause()
      // }
      this.player.stopVideo()
      this.videoClasses.push('hide')
      setTimeout(() => {
        this.videoClasses = []
      }, 100)
    }
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
