<template>
  <div class="container">
    <div>
      test
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  asyncData(context) {
    return context.$axios.get('/wp-json/wp/v2/pages/8').then((res) => {
      return { PageContent: res.data }
    })
  },
  data() {
    return {
      PageContent: []
    }
  }
}
</script>

<style></style>
