<template>
  <div class="container">
    <div class="login-wrapper">
      <!-- <ValidationObserver ref="newsletter">
        <form class="form" @submit.prevent="onSubmit()">
          <ValidationProvider
            v-slot="{ errors }"
            name="Email Address"
            rules="required|email"
          >
            <div class="input">
              <input
                v-model="input.email"
                autocomplete="false"
                type="email"
                name="Email"
                placeholder="Email Address"
              />
              <input
                v-model="input.password"
                type="password"
                name="password"
                placeholder="Email Address"
              />
              <span id="loginSubmit" @click="onSubmit">Submit</span>
            </div>
            <span
              class="text-secondary error Fz(12px)"
              style="margin-top: .5em;display: block;"
              >{{ errors[0] }}</span
            >
            <span
              v-if="success"
              class="text-primary"
              style="margin-top: .5em;display: block;"
              >Thank you for subscribing.</span
            >
          </ValidationProvider>
        </form>
      </ValidationObserver> -->
      <form @submit.prevent="userLogin()">
        <div>
          <label>Username</label>
          <input v-model="login.email" type="text" />
        </div>
        <div>
          <label>Password</label>
          <input v-model="login.password" type="password" />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      // login: {
      //   username: '',
      //   password: ''
      // },
      login: {
        email: '',
        password: ''
      },
      success: false,
      input: {
        email: ''
      }
    }
  },
  methods: {
    async userLogin() {
      // console.log(this.login)

      const user = await this.$store.dispatch('loginUser', this.login)

      console.log(user)

      if (user.error) {
        alert(user.error)
      } else {
        alert('Thank you for SignIn' + user.display_name)
      }

      // try {
      //   const response = await this.$auth.loginWith('local', {
      //     data: this.login
      //   })
      //   console.log(response)
      // } catch (err) {
      //   console.log(err)
      // }
    },
    async onSubmit() {
      try {
        const isValid = await this.$refs.newsletter.validate()
        if (!isValid) {
          return
        }
        console.log(this.input)
        const response = await this.$auth.loginWith('local', {
          data: this.input
        })
        console.log(response)
      } catch (e) {}
    }
  }
}
</script>

<style>
#loginSubmit {
  cursor: pointer;
  background: #af1e23;
  color: #fff;
  padding: 6px 21px;
  border-radius: 10%;
  vertical-align: middle;
}
</style>
