<template>
  <div class="container">
    <div class="login-wrapper">
      <ValidationObserver ref="newsletter">
        <form class="form" @submit.prevent="onSubmit()">
          <ValidationProvider
            v-slot="{ errors }"
            name="Email Address"
            rules="required|email"
          >
            <div class="input">
              <input
                v-model="input.name"
                type="email"
                name="Email"
                placeholder="Email Address"
              />
              <input
                v-model="input.email"
                type="email"
                name="Email"
                placeholder="Email Address"
              />
              <input
                v-model="input.password"
                type="password"
                name="password"
                placeholder="Email Address"
              />
              <span id="loginSubmit" @click="onSubmit">Submit</span>
            </div>
            <span
              class="text-secondary error Fz(12px)"
              style="margin-top: .5em;display: block;"
              >{{ errors[0] }}</span
            >
            <span
              v-if="success"
              class="text-primary"
              style="margin-top: .5em;display: block;"
              >Thank you for subscribing.</span
            >
          </ValidationProvider>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      success: false,
      input: {
        email: ''
      }
    }
  },
  methods: {
    async onSubmit() {
      try {
        const isValid = await this.$refs.newsletter.validate()
        if (!isValid) {
          return
        }
        const response = await this.$axios.post(
          '/wp-json/custom/v2/subscribeform',
          {
            ...this.input
          }
        )
        if (response.status === 200) {
          this.input = {
            email: ''
          }
          this.$refs.newsletter.reset()

          this.success = true
          setTimeout(() => {
            this.success = false
          }, 3000)
        }
      } catch (e) {
        // console.log(e)
      }
    }
  }
}
</script>

<style>
#loginSubmit {
  cursor: pointer;
  background: #af1e23;
  color: #fff;
  padding: 6px 21px;
  border-radius: 10%;
  vertical-align: middle;
}
</style>
