<template>
  <div class="container">
    <!-- <div>
      <logo />
      {{ PageContent.acf }}
    </div> -->
  </div>
</template>

<script>
export default {
  components: {},
  async asyncData({ $axios, context, route }) {
    const slug = route.name
    const [test] = await Promise.all([
      $axios.get(`/wp-json/wp/v2/pages?slug=${slug}`)
    ])

    return {
      PageContent: test.data[0]
    }
    // return context.$axios.get('/wp-json/wp/v2/pages/24').then((res) => {
    //   return { PageContent: res.data }
    // })
  },
  data() {
    return {
      PageContent: []
    }
  }
}
</script>

<style></style>
