<template>
  <div class="container">
    <div v-for="user in users" :key="user.ID">
      {{ user.display_name }}
      <a href="javascript:void(0);" @click="loginUser(user)">Login</a>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['users'])
  },
  mounted() {
    this.$store.dispatch('loadUsers')
  },
  methods: {
    loginUser(user) {
      this.$store.dispatch('loginUser', user)
    }
  }
}
</script>

<style></style>
